<% if @login_user.errors.present? %>
  <%= @login_user.errors.full_messages.to_sentence %>
<% end %>
<div class="form">
  <h2>Login   </h2>
  <form action="/login" method="post">
    <div class="username_field">
      <%= @login_user.errors[:username].to_sentence %>
      <input type="text" name="username" placeholder=" Username">
    </div>
    <div class="password_field">
      <%= @login_user.errors[:password].to_sentence %>
      <input type="password" name="password" placeholder=" Password">
    </div>
    <input type="submit" value="Login">
  </form>
</div>