<form action="/youtube api route" method="get">
  <input type="text" id="query" name="query" placeholder="search word" style="margin-left: 15%">
  <input type="submit" class="submit" value="Poup" >
</form>