<%= erb :_navbar %>


<div id="index_container">
  <h2>Pure, unfiltered crap.</h2>

<div class="video_panel index">
  <div id="toilet_img">
    <img src='./images/toileticon.png' style="margin-left: 33%">
  </div>
</div>

</div>